<!--
  ~ Copyright (c) 2019.  Made With Love By Yaman Al-khateeb
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="manoz.com.heba_project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
